{% load static %}
<!-- start of footer -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_content">
          <h4>Reach Us at...</h4>
          <div class="contact_link_box">
            <!-- <a href=""><i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>Location</span></a> -->
            <a href=""><i class="fa fa-phone" aria-hidden="true"></i>
              <span>Call +91 1234567890</span></a>
            <a href=""><i class="fa fa-envelop" aria-hidden="true"></i>
              <span>espressoodyssey@gmail.com</span></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="/" class="footer-logo">Espresso Odyssey&#174;</a>
          <p>
            At <b>Espresso Odyssey</b>, we’re passionate about serving high-quality, freshly roasted coffee in a welcoming and cozy atmosphere. Join us for a unique coffee experience today!
            <br><br>
            Our Commitment We are dedicated to sustainability, sourcing ethical and responsibly grown coffee beans. Every cup you enjoy helps support the communities that grow our coffee.
          </p>
          <div class="footer_social">
            <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            <a href=""><i class="fa fa-pinterest" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="map_container">
          <div class="map">
            <div id="googleMap"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-info">
      <p>&copy; <span id="displayYear"></span>All Rights Reserved By
        <a href="/">Praveen B. Lahase</a>
      </p>
    </div>
  </div>
</footer>
<!-- end of footer section -->


<!-- bootstrap js -->
<!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
<!-- custom js -->
<script src="{% static 'js/custom.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

</script>

</body>

</html>